@model IEnumerable<AsistenciaAdmin.Models.Aulas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreAula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAula)
        </td>
        <td>
            @*@Html.ActionLink("QR","GenerarQR","Aulas", new { Aula = item.AulaId}, new { @class = "btn btn-default form-control"})*@
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GenerarQR", "Aulas", new { AulaId = item.AulaId })'">QR</button>
        </td>
    </tr>
}

</table>

